<div class="container">
  <div class="sheet">
    <div class="sheet-content">
      @if (!gameService.isPlay) {
        <h1><i>Хрестики нолики</i></h1>
        <button (click)="startGameWithBot()" matFab extended>
          <mat-icon>smart_toy</mat-icon>
          Грати з комп'ютером
        </button>
        <button (click)="startGameWithHuman()" matFab extended>
          <mat-icon>group</mat-icon>
          Грати з другом
        </button>
      } @else {
        <div class="game-board">
        <button (click)="restartGame()" matFab extended>
          <mat-icon>cached</mat-icon>
          Нова гра
        </button>
        <div class="arena">
          <div class="win-line"></div>
          @for (cell of gameService.cells; track $index){

              <app-cell [currentPlayer]="gameService.currentPlayer" (makeMove)="gameService.makeMove($index)"
              [value]="cell">
              </app-cell>

          }
          <img class="arena-img" src="images/game-arena.png">
        </div>
        </div>
      }
    </div>
    <img src="images/sheet-img.jpg">

  </div>
</div>

